*{
  margin: 0;
  padding: 0;
  
}


h1,h2,h3, h4, h5, h6, span{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff ;
}

h1{
  // font-wieght: ;
}

hr{
  border-color: #e3ba34;
}


.App{
    background-color: #1d3557;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
section{
 margin: 0 auto;
  padding: 150px 0;
  max-width: 1000px;
 }

 .socials{
  display: inline-block;
  position: fixed;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  z-index: 1;
  bottom: 0;
  left: 0;
  // padding: 20px;
 }
 .socials li{
  list-style: none;
  margin-bottom: 20px;
 }

 .socials li :hover{
  color: #e3ba34;
  height: 4rem ;
}

 .socials::after{
  content: "";
    display: block;
    width: 1px;
    height: 150px;
    background-color: #e3ba34;
    margin: 0px auto;
    box-sizing: inherit;
 }



 .email{
  display: inline-block;
  position: fixed;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: 20px;
 }

 #email{
  writing-mode: vertical-lr;
  padding: 20px;
 }

 .email::after{
  content: "";
    display: block;
    width: 1px;
    height: 150px;
    background-color:#e3ba34;
    margin: 0px auto;
    box-sizing: inherit;
 }

 .email :hover{
  color: #e3ba34;
 }

 @media all and (max-width: 900px) {
  .email { display: none; }
  .socials{display: none;}
}



#nav{
  position: relative;
  display: block;
  float: right;
}

#nav a:hover{
  background-color:#e3ba34 ;
}

#nav button{
  background-color:#ff6242 ;
}


.card{
  display: inline-block;
  height: 55vh;
  width: 20vw;
  padding: 10px;
  margin: 12px;
  }

#projects{
  display: block;
  // background-color: darkgrey;
}

#img-container{
  background-color:#e3ba34;
  box-shadow: 5px 10px;
}


#img{
  opacity: 0.5;
}

#img:hover{
  opacity: 1;
  height: 25rem;
}

article{
  float: left;
}


#hero-button{
  position: relative;
  left: 30%;
  margin-top: 11%;
  padding: 4%;
}

.education-experience{
  display: inline-block;
}

#education{
  margin-left: 10vw;
}







